@font-face {
  font-family: Space-Mono;
  src: url("../ttf/Space.ttf");
}
:root {
  --bg: rgb(209, 209, 209);
  --medium: rgb(112, 173, 114);
  --light: rgb(14, 136, 19);
}
* {
  font-size: 16px;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: Space-Mono;
  -ms-overflow-style: none;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--light);
  background: var(--bg);
}
