@font-face {
  font-family: Space-Mono;
  src: url("../ttf/Space.ttf");
}
:root {
  --bg: rgb(209, 209, 209);
  --medium: rgb(112, 173, 114);
  --light: rgb(14, 136, 19);
}
* {
  font-size: 16px;
  scrollbar-width: none;
  box-sizing: border-box;
  font-family: Space-Mono;
  -ms-overflow-style: none;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--bg);
}
#preview {
  top: 20px;
  left: 20px;
  min-width: 20%;
  max-width: max-content;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 50px;
  color: var(--light);
  border: 1px solid var(--light);
}
#data {
  padding: 2em;
}
#bubblesContainer {
  width: 100%;
  height: 100%;
}
